#!/usr/bin/make -f
# -*- makefile -*-

export PYBUILD_NAME=xivo_bus
export PYBUILD_DESTDIR_python2=debian/xivo-bus/
export PYBUILD_DESTDIR_python3=debian/xivo-bus-python3/
export PYBUILD_DISABLE=test

%:
	dh $@ --with python2,python3 --buildsystem=pybuild
