version: '3'
services:
  sync:
    image: wazoplatform/wait
    depends_on:
      - rabbitmq
      - bus
    environment:
      TARGETS: "rabbitmq:5672 bus:5000"

  rabbitmq:
    image: rabbitmq
    ports:
      - "5672"
      - "15672"
    volumes:
      - type: tmpfs
        target: /var/lib/rabbitmq

  bus:
    image: xivo-bus
    ports:
      - "5000"
    environment:
      - FLASK_APP=bus_test
      - EXCHANGE_NAME=bus-integration-tests
